.navbar {
  background-color: $black;
  color: $white;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  display: none;

  &__item + &__item {
    margin-left: $text-normal;
  }

  &__item {
    padding-top: $text-large;
    padding-bottom: $text-large;

    span {
      margin-left: 1rem;
    }

    &.dropdown {
      position: relative;

      &:hover {
        .dropdown__content {
          display: block;
        }
      }
    }
  }

  &__link {
    text-transform: uppercase;

    &:hover {
      color: $main-color;
    }
  }

  &__toggler {
    padding: 0.5rem 0.7rem;
    font-size: $text-large;
    background-color: transparent;
    color: $white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  @media screen and (min-width: 992px) {
    display: flex;
  }
}
