.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__section {
    margin-bottom: 4rem;

    h3 {
      font-size: $text-xlarge;
      margin-bottom: $text-large;
      text-transform: uppercase;
    }
  }
}
